.usersCard {
  display: flex;
  flex-direction: column;
  max-width: 370px;
  min-width: 280px;
  height: 254px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  padding: 20px;
  justify-content: space-between;
   position: relative;
}
.cardItem {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
 
}

.tip::after {
  content: attr(data-text); 
  position: absolute;

  display: none;
  background-color: #000; 
  color:#fff;
  border: 1px solid #ccc; 
  padding: 5px; 
  border-radius: 5px; 
  z-index: 999;


  left: 50%;
  transform: translate(-50%);
}

.tip:hover::after {
  display: block;
}

.photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
}
