.header{
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.header__content {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 17px 16px;
  max-width: 1290px;
  margin: auto;
}

.header__buttons {
  display: flex;
  gap: 10px;
}

@media (min-width: 786px) {
  .header__content {
    padding: 17px 32px;
  }
}

@media (min-width: 1024px) {
  .header__content {
    padding: 17px 60px;
  }
}
